@model UserRegistration.Models.UserDetails

@{
    ViewData["Title"] = "Your Details";
}

<div>
    <h4>UserDetails</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAddress.StreetName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAddress.StreetName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAddress.StreetNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAddress.StreetNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAddress.Suite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAddress.Suite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAddress.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAddress.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAddress.Province)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAddress.Province)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAddress.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAddress.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAddress.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAddress.Country)
        </dd>
    </dl>
</div>

