@model IEnumerable<UserRegistration.Models.UserDetails>

@{
    ViewData["Title"] = "Users Details";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAddress.StreetNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAddress.StreetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAddress.Suite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAddress.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAddress.Province)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAddress.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAddress.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAddress.StreetNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAddress.StreetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAddress.Suite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAddress.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAddress.Province)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAddress.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAddress.Country)
            </td>
        </tr>
}
    </tbody>
</table>
